<style>
    .idcard-css img {
        display: inline-block;
        width: 200px;
        margin-right: 30px;
        margin-top: 10px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li><a href="{:url('admin/Authinfo/detail',array('ids'=>$ids))}" >基本信息</a></li>
            <li><a href="{:url('admin/Authinfo/creditReport',array('ids'=>$ids))}">诈骗行为</a></li>
            <li><a href="{:url('admin/Authinfo/fqz',array('ids'=>$ids))}">反欺诈</a></li>
            <li><a href="{:url('admin/Authinfo/bqs',array('ids'=>$ids))}">多头负债</a></li>
            <li class="active"><a href="{:url('admin/Authinfo/sbzw',array('ids'=>$ids))}">设备指纹</a></li>
            <li><a href="{:url('admin/Authinfo/mno',array('ids'=>$ids))}">运营商</a></li>
            <li><a href="{:url('admin/Authinfo/tb',array('ids'=>$ids))}">淘宝</a></li>
            <li><a href="{:url('admin/Authinfo/zxy',array('ids'=>$ids))}">大数据</a></li>
            <li><a href="{:url('admin/Authinfo/fysx',array('ids'=>$ids))}">法院失信</a></li>
            <li><a href="{:url('admin/Authinfo/txl',array('ids'=>$ids))}">通讯录</a></li>
            <li><a href="{:url('admin/Authinfo/shlogs',array('ids'=>$ids))}">审核记录</a></li>
            <li><a href="{:url('admin/Authinfo/sixcontacts',array('ids'=>$ids))}">最近联系人</a></li>
            <li><a href="{:url('admin/Authinfo/callrecords',array('ids'=>$ids))}">详细联系记录</a></li>

        </ul>
    </div>
    <div class="panel-body">
        <!--{empty name="mnoinfo"}-->
        <!--暂无数据-->
        <!--{else /}-->
        <!--<div>基本信息</div>-->
        <!--{$html}-->
        <!--{/empty}-->
    </div>

</div>
