<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Repay_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-repay_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[repay_time]" type="text" value="{$row.repay_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_amount" class="form-control" name="row[total_amount]" type="text" value="{$row.total_amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Corpus')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-corpus" class="form-control" name="row[corpus]" type="text" value="{$row.corpus}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Accrual')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-accrual" class="form-control" name="row[accrual]" type="text" value="{$row.accrual}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" class="form-control" name="row[status]" type="number" value="{$row.status}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_id" data-rule="required" data-source="order/index" class="form-control selectpage" name="row[order_id]" type="text" value="{$row.order_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{$row.create_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Update_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[update_time]" type="text" value="{$row.update_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Penalty')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-penalty" class="form-control" name="row[penalty]" type="text" value="{$row.penalty}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_amount" class="form-control" name="row[real_amount]" type="text" value="{$row.real_amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Over_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-over_amount" class="form-control" name="row[over_amount]" type="text" value="{$row.over_amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zq_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zq_amount" class="form-control" name="row[zq_amount]" type="text" value="{$row.zq_amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_code" class="form-control" name="row[order_code]" type="text" value="{$row.order_code}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_order_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_order_id" data-rule="required" data-source="pay/order/index" class="form-control selectpage" name="row[pay_order_id]" type="text" value="{$row.pay_order_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_status" class="form-control" name="row[pay_status]" type="number" value="{$row.pay_status}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[real_time]" type="text" value="{$row.real_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zq_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zq_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[zq_time]" type="text" value="{$row.zq_time|datetime}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
