<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="viewport" content="width=321, user-scalable=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <title>渠道注册页面</title>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <style>
        #RightFloat11{
            position:fixed;
            left:50%;
            top:80%;
            transform:translate(-50%,-50%);
            z-index:100;
        }
        </style>
</head>
<body>
<!-- 头部 -->
<div class="HeaderOne">
    <b class="LeftFloat"><img src="/assets/img/register/def.png"/> </b>
    <div class="RightFloat" id="RightFloat11">
        <ul>
            <a href="{$download.ad_url}"><li class="download"><img src="/assets/img/register/Andriod.png">Andriod 正式版</li></a>
            <a href="{$download.ios_url}"><li class="download" style="float:right;"><img src="/assets/img/register/iphone.png">Iphone 正式版</li></a>
        </ul>
    </div>
</div>
<script>
</script>
</body>
</html>



