<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <title>用户注册页面</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 头部 -->
<div class="HeaderOne HeaderOne_p">
    <p class="top">用户协议</p>
    <p>
        郑重提示，本协议系您与“速易贷”（以下简称平台）之间的法律协议，请您认真阅读并理解本协议。您通过平台点击确认本协议的，即表示您同意遵循本协议的所有约定，本协议在您和平台之间具有法律约束力。如发生法律纠纷，您不得以未仔细阅读或理解本协议为由进行抗辩。<br><br>
        第一条 用户确认及服务接纳<br>
        1.1 注册用户需满足下列条件：<br>
        <span>（1）持有中华人民共和国法律认可有效身份证明的20周岁以上的自然人；</span><br>
        <span>（2）具有中华人民共和国法律规定的完全民事行为能力的自然人；</span><br>
        <span>（3）在中华人民共和国境内（不含港澳台地区）商业银行开立并有效持有个人借记卡账户。</span><br>
        <span>如您不符合以上条件的，请勿注册，否则本网站有权随时中止或终止贵方的用户资格。</span><br>
        1.2 用户需接受平台全部协议条款及各项平台规则，方可成为平台注册用户，接受平台提供的各项服务。<br>
        1.3 用户确认本协议全部条款并完成注册的，视为用户符合注册条件，能够独立承担因接受平台服务所产生权利义务。<br>
        1.4 平台保留在中华人民共和国现行有效之法律、法规范围内接受、拒绝、终止/中止用户接受平台服务之资格。<br><br>
        第二条 用户注册信息<br>
        2.1 用户首次通过平台提交个人信息并确认本协议的，即成为平台注册用户。<br>
        2.2 用户应自行如实向平台提供注册信息。用户应当确保其提供的注册信息真实、准确、完整、合法有效。如用户提供的注册信息不合法、不真实、不准确、不详尽，用户需承担由此产生的相应责任及后果，平台保留终止注册用户资格的权利。<br>
        2.3 用户认可平台收集及储存用户的资料及信息，包含但不限于用户本人提交的资料及信息以及平台自行收集的用户资料及信息。平台收集、储存用户资料及信息的目的在于更加效率及便利地为用户提供平台服务，平台不得将用户资料及信息用于其他目的。<br>
        2.4 平台应当采取不低于一般行业惯例对于用户的资料及信息进行保护，但因不可抗力所导致的用户资料及信息泄露（包含但不限于黑客攻击、第三方导致的系统缺陷等），平台不承担相应的责任。<br>
        2.5 平台有义务根据行政、司法机关的要求向该等机关提供用户的资料及信息。<br>
        2.6 用户应当谨慎地保存、使用其平台账号、密码、手机验证码等信息。用户不得将平台账号向他人透露、借用，否则用户应当承担由此产生的全部后果及责任。<br><br>
        第三条 信息授权<br>
        3.1 本产品是基于互联网大数据分析的量化评估模型，您理解并同意，您注册使用平台服务时，即授权本公司根据您所提供的各项信息及本公司独立获得的信息评定您在本公司所拥有的个人信用风险，或决定是否审核通过您的服务申请。您向本公司提交有关信息和资料的行为，均应视为已合法授权本公司因提供本服务的需要，而对您的相关信息进行采集、储存、整理、加工，并按照本服务条款的约定向第三方提交相关资料。在不透露您个人具体信息内容的前提下，本公司有权对整个用户数据库进行分析，并对用户数据库进行商业上的利用。<br>
        3.2 您理解并同意，如您向本公司提交、绑定或授权您的银行卡信息／账户，本公司将可能:<br><span>1）查询并核对您的账户信息。</span><br><span>2）查询并读取您银行卡账户中的交易信息。</span><br><span>3）基于您签署的相关融资协议通过您所授权或绑定的银行卡账户进行代收与代付服务。</span><br>
        3.3 您理解并同意，如您向本公司授权您的其他账号，本公司将可能读取您所授权的账号中的相关信息。<br>
        3.4 您理解并同意，在您注册或使用平台时，本公司将可能依据《征信业管理条例》及相关法律法规，向第三方支付/征信/金融机构合法了解、获取、核实您的信用信息。所获取的个人信用信息仅在平台业务中使用，且不向其他机构、个人提供或披露。<br>
        3.5 您理解并同意，如您使用了本公司合作的第三方支付机构的提现或支付功能，则应当依据您签署的相关融资协议中约定之日期按期进行还款，本公司有权通过短信、电话、社交账号等途径对您进行服务与还款提醒。您理解并同意，如您未按期履行还款义务，您的个人逾期信息将可能向第三方（包括但不限于征信机构、金融机构、公众媒体等）进行分享或公布，记录在您的个人信用信息数据库中，对此造成的不良后果您已完全知悉。请您珍视自身的信用记录，按时履行还款义务。<br>
        3.6 您理解并同意，为了评估核实您的信用及还款能力，您的借款记录和逾期信息将会被记录，并且向您申请的平台进行展示，仅作为平台业务使用。<br>
        3.7 您理解并同意，在您使用产品或服务过程中收集的信息。<br><span>（1）设备信息。 为了提供更好的产品和/或服务并改善用户体验，我们会收集设备属性信息（例如您的硬件型号、 操作系统版本、设备配置、唯一设备标识符、国际移动设备身份码IMEI、网络设备硬件地址MAC、广告标识符IDFA等）， 设备位置信息（如通过GPS、蓝牙或WIFI信号获得的位置信息）、设备连接信息（浏览器的类型、电信运营商、使用的语言） 以及设备状态信息（例如设备传感器数据，设备应用安装列表）。对于从您的各种设备上收集到的信息，我们可能会将它们进行关联， 以便我们能在这些设备上为您提供一致的服务。我们可能会将您的设备信息或电话号码与您的甲乙应急帐户相关联。</span><br>
        <span>（2）日志信息。 当您使用甲乙应急的产品和 / 或服务时，我们的服务器会自动记录一些信息，例如您对我们的产品和 / 或服务的使用情况、 IP地址、所访问服务的URL、浏览器的类型和使用的语言、下载、安装或使用移动应用和软件的信息、 与通讯软件通讯的信息以及访问服务的日期、时间、时长等。</span><br>
        <span>（3）位置信息。 当您使用具有定位功能的甲乙应急产品和/或服务时，当您开启设备定位功能并使用我们基于位置提供的相关服务时， 我们可能会收集和处理有关您实际所在位置的信息，以使得您不需要手动输入自身地理坐标就可获得相关服务。 我们会使用各种技术进行定位，这些技术包括 IP 地址、GPS 以及能够提供相关信息的其他传感器 （比如可能会为甲乙应急提供附近设备、Wi-Fi 接入点和基站的信息）。您可以通过关闭定位功能， 停止对您的地理位置信息的收集，但您可能将无法获得相关服务或功能，或者无法达到相关服务拟达到的效果。</span><br>
        <span>（4）唯一应用程序编号。 某些产品和/或服务包含唯一应用程序编号，当您安装、激活、更新、卸载相关产品和/或服务或当这些产品和/或服务定期与甲乙应急通信（例如软件的更新）时，系统会将此编号以及与安装相关的信息（例如操作系统类型和应用程序版本号）发送给甲乙应急。</span> <br>
        <span>（5）本地存储。 我们可能会使用浏览器网络存储等机制（包括HTML5）和应用数据缓存，收集您设备上的信息并进行本地存储。</span><br>
        <span>（6）Cookie和匿名标示符等工具。 cookie主要的功能是便于您使用网站产品和/或服务，以及帮助网站统计独立访客数量等。运用cookie技术， 甲乙应急能够为您提供更加周到的个性化服务，并允许您设定您特定的服务选项。</span><br>
        3.8 本公司不会采集您的宗教信仰、基因、指纹、血型、疾病和病史信息以及法律、行政法规规定禁止采集的其他个人信息。<br><br>
        第四条 用户承诺<br>
        4.1 用户应当妥善保管本人的平台账号、密码、绑定的手机号码、手机验证码等信息。对于非因平台过错产生的上述信息泄露所导致的用户损失平台不承担任何责任。<br>
        4.2 用户承诺在接受平台服务过程中应当诚实、守信地履行相关义务，否则将承担包含但不限于下列后果：<br>
        <span>（1）用户的不良信用信息将被上传至经中国人民银行批准并依法设立的各征信数据机构；</span><br>
        <span>（2）用户将因违约行为承担相应的违约责任；</span><br>
        <span>（3）用户将因违约行为承担相应的诉讼后果。</span><br><br>
        第五条 征信授权<br>
        5.1 用户在此不可撤销地授权平台通过依法设立的征信机构了解、咨询、审查用户的个人信息、信用状况、履约能力及其他评定用户资信状况的信息，包含可能存在的用户不良信用信息。<br>
        5.2 用户在此不可撤销地授权平台向依法设立的征信机构提供用户接受平台服务所对应的个人信息、借贷信息及后续还款记录等信息。<br>
        5.3 用户在此不可撤销地授权平台向依法设立的征信机构提供用户可能产生的不良信用信息。<br><br>
        第六条 关于电子合同<br>
        6.1 本协议采用电子文本形式制成，并在平台系统上保留存档。其签订方式符合《中华人民共和国电子签名法》的要求。用户通过平台系统点击确认或以其他方式选择接受本协议，即表示已同意接受本协议的全部内容以及与本协议有关的各项平台规则。<br>
        6.2 用户应当妥善保管自己的账号、密码等账户信息，不得以账户信息被盗用或其他理由否认已订立的协议的效力或不履行相关义务。<br><br>
        第七条 平台中断或故障
        7.1 您理解并同意，在使用本产品的过程中，可能会遇到不可抗力等风险因素，使本产品服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时本公司将努力在第一时间与相关单位配合，及时进行修复，但是由此给用户造成的损失本公司在法律允许的范围内免责。<br>
        7.2 在法律允许的范围内，本公司对以下情形导致的服务中断或受阻不承担责任：<br>
        <span>（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</span><br>
        <span>（2）您或本公司的电脑软件、系统、硬件和通信线路出现故障；</span><br>
        <span>（3）您操作不当；</span><br>
        <span>（4）您通过非本公司授权的方式使用本服务；</span><br>
        <span>（5）其他本公司无法控制或合理预见的情形。</span><br><br>
        第八条 网络传输风险<br>
        您理解并同意，由于本协议所列服务涉及个人隐私，通过网络提供和传输存在特定的泄密风险，用户一经充分考虑到该风险，并愿意承担该风险通过网络的方式完成本项服务，如果因网络传输导致个人隐私泄露等后果，将由用户自行承担。尽管本公司已作好了全面的安全防范措施后，以下情况仍然有可能发生，例如某一第三方躲过了我们的安全措施并进入我们的数据库，查找到您的个人信息。本公司认为在您把您的个人信息放入我们的数据库时，您已经意识到了这种风险的存在，并同意承担这样的风险。对于因此而引起的任何法律纠纷，本公司不承担任何法律责任。<br><br>
        第九条 适用法律及争议解决<br>
        9.1 本协议的签订、履行、终止、解释均适用中华人民共和国法律。<br>
        9.2 因履行本协议所产生的争议应当通过友好协商解决；如协商不成，则本协议任意一方均可向本协议签订地北京朝阳区有管辖权的人民法院起诉。<br><br>
        第十条 其他<br>
        10.1 本协议未尽事项按照平台现有及不时发布的各项规则执行。<br>
        10.2 如本协议中的任何一条或多条被确认为无效，该无效条款并不影响本协议其他条款的效力。
    </p>
</div>

</body>
</html>